<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <b>About</b>
                    <p>{{site.author-about}}</p>
                    <br>
                    <b>Competencies</b>
                    <ul>
                        <li>Coding Languages - Python, R, VBA</li>
                        <li>Applications - Excel, Powerpoint, Word, PowerBI, Tableau, AWS Lex</li>
                        <li>Subjects - Machine Learning, Chatbots, Statistics, Data Visualization, Text Mining</li>
                    </ul>
                    <br>
                    <b>Certifications</b>
                    <ul>
                        <li>Scrum - Professional Scrum Product Owner I (PSPO I)</li>
                        <li>Scrum - Professional Scrum Master I (PSM I)</li>
                        <li>Agile - <a href="https://www.pmi.org/">PMI</a>Agile Certified Practitioner</li>
                        <li>Agile - Certified<a href="https://scaledagile.com/">SAFe 4</a>Agilist</li>
                        <li>Design -<a href="https://www.luma-institute.com/about-luma/">LUMA</a>Certified Practitioner</li>
                    <br>
                    <b>Fun Facts</b>
                    <ul>
                        <li>I received my private pilot's license in High School</li>
                        <li>My family has been Kansas City Chiefs season ticket holders since the franchise moved to Kansas City in 1963</li>
                        <li>I'm a competitive powerlifter</li>
                    </ul>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://github.com/ssears219/ssears219.github.io/raw/master/Samuel_Sears_Resume.pdf"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Resume</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
