<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <b>About</b>
                    <p>{{site.author-about}}</p>
                    <br>
                    <b>Competencies</b>
                    <ul>
                        <li> • Python</li>
                        <li> • R</li>
                        <li> • VBA</li>
                        <li> • Excel</li>
                        <li> • AWS Lex</li>
                        <li> • Agile - Certified<a href="https://scaledagile.com/">SAFe 4</a>Agilist</li>
                        <li> • Design -<a href="https://www.luma-institute.com/about-luma/">LUMA</a>Certified Practitioner</li>
                    </ul>
                    <br>
                    <b>Fun Facts</b>
                    <ul>
                        <li> • I received my private pilot's license in High School</li>
                        <li> • I am a Kansas City Chiefs season ticket holder</li>
                        <li> • I am a competitive powerlifter</li>
                    </ul>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
